<div class="flex justify-center h-3/5">
<%= form_with(model: recipe, class: "w-2/5 h-full flex flex-col justify-between") do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block", class: "block text-body-dark font-semibold text-base leading-none mb-3" %> <i>(That good 'ol Recipe name)</i>
    <%= form.text_field :name, class: "px-4 flex items-center w-full rounded appearance-none transition duration-300 ease-in-out text-heading text-base focus:outline-none focus:ring-0 border border-border-base focus:border-accent h-10" %>
  </div>
  <br />

  <div>
    <%= form.label :preparation_time, style: "display: block", class: "block text-body-dark font-semibold text-base leading-none mb-3" %> <i>(hr/m)<i>
    <%= form.number_field :preparation_time, class: "px-4 flex items-center w-full rounded appearance-none transition duration-300 ease-in-out text-heading text-base focus:outline-none focus:ring-0 border border-border-base focus:border-accent h-10" %>
  </div>
  <br />

  <div>
    <%= form.label :cooking_time, style: "display: block", class: "block text-body-dark font-semibold text-base leading-none mb-3" %> <i>(hr/m)<i>
    <%= form.number_field :cooking_time, class: "px-4 flex items-center w-full rounded appearance-none transition duration-300 ease-in-out text-heading text-base focus:outline-none focus:ring-0 border border-border-base focus:border-accent h-10" %>
  </div>
  <br />

  <div>
    <%= form.label :description, style: "display: block", class: "block text-body-dark font-semibold text-base leading-none mb-3" %> <i>(Write your recipe below)</i>
    <%= form.text_area :description, class: "px-4 flex items-center w-full rounded appearance-none transition duration-300 ease-in-out text-heading text-base focus:outline-none focus:ring-0 border border-border-base focus:border-accent h-10" %>
  </div>
  <br />

  <div>
    <%= form.label :public, style: "display: block", class: "block text-body-dark font-semibold text-base leading-none mb-3" %>
    <%= form.check_box :public, class: "mr-2" %><span><i>Check if you want your recipe public</i></span>
  </div>
  <br />

  <div class="flex items-center h-12 p-5 font-semibold leading-none transition duration-300 ease-in-out border border-transparent rounded outline-none max-w-fit focus:outline-none focus:shadow focus:ring-1 focus:ring-accent-700 bg-accent text-light hover:bg-accentH">
    <%= form.submit "Add Recipe" %>
  </div>
<% end %>
</div>
