<div id="<%= dom_id recipe %>">
  <p class="w-full mb-10 text-lg font-bold text-center text-body-dark">
    <%= recipe.name %>
  </p>
  <div class= "flex flex-row justify-between gap-8 m-16">
    <div class= "max-w-md">
    <p>
      <strong>Preparation time:</strong>
      <%= recipe.preparation_time %>
    </p>
    <br />
    <p>
      <strong>Cooking time:</strong>
      <%= recipe.cooking_time %>
    </p>
    <br />
    <p>
      <strong>Description:</strong>
      <%= recipe.description %>
    </p>
    </div>
    <div>
      <label for="toggleFour" class="flex items-center cursor-pointer select-none"><strong>Public:</strong>
        <div class="relative">
        <input type="checkbox" checked>
          <%# <input type="checkbox" id="toggleFour" class="sr-only">
          <div class="block h-8 bg-black rounded-full box w-14"></div>
          <div class="absolute flex items-center justify-center w-6 h-6 transition bg-white rounded-full dot left-1 top-1"></div> %>
        </div>
     </label>
    </div>
  </div>
</div>
