<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<%# <%= button_to "Destroy this recipe", @recipe, method: :delete %>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <div>
      <p><%= recipe.name %></p>
      <p><%= recipe.description %></p>
      <%= button_to "Delete", recipe_path(recipe), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
