<div id="<%= dom_id food %>">
  <p>
    <strong>Food:</strong>
    <%= food.name %>
  </p>

  <p>
    <strong>Measurement unit:</strong>
    <%= food.measurement_unit %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= food.price %>
  </p>

  <p>
    <strong>Actions:</strong>
    <%= food.quantity %>
  </p>

</div>
