<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <p class="signed-in-as">Signed in as <%= current_user.email %></p>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <%# we would use this part to render the header and navigation to various pages %>
    <% else %>
      <a href="/users/sign_in">Sign in</a>
    <% end %>
    <%= yield %>
  </body>
</html>
